.create-proj-form{
    position:absolute;

  
    left: 0;
    right: 0;
    bottom: 5rem;
    z-index: 2;
    margin: auto !important;
    min-width: fit-content;
    width: 20%;
  
    padding: 3rem;
    border-radius: 2px;
    background-color: #f5fdff;
    display: flex;
    flex-direction: column;
    


}
.create-btn{
    margin-top: 1rem !important;
    border: none;
    padding: 5px;
    color: #fff;
    font-weight: 700;
    background-color: #0068ad;
}

.create-btn:hover{
    background-color: #1881c7;
    color: rgb(255, 255, 255);
    
}

.create-proj-form>div>h1{
    color:  rgb(0, 16, 26);
}

.create-proj-form>form{
    display: flex;
    gap: 2px;
    flex-direction: column;
}

form>input{
    padding: 5px;
}

form>h3{
    color: rgb(0, 16, 26) ;
}
input:focus{
    outline: none;
 }

 textarea:focus{
     outline: none;
 }

.top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-str{
    display: inline;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid grey;
}