.navbar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0));
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
}

.navbar-logo {
  color: #fff;
  display: flex;
  justify-content: left, space-between;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  align-items: center;
}
.navbar-logo img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 90vw;
  justify-content: end;
  margin-right: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.box {
  max-width: 400px;
  width: 100%;
}
.box .search-box {
  position: relative;
  height: 40px;
  max-width: 50px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 0.3s ease;
}
/*Opens the search bar when clicked*/
#check:checked ~ .search-box {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 300px;
}
.search-box input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-color: #fff;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
}
.search-box .icon {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -2px;
  top: 0;
  width: 50px;
  background: #fff;
  height: 100%;
  text-align: center;
  line-height: 40px;
  color: #0d9e81;
  font-size: 20px;
  border-radius: 25px;
}

.search-box .icon:hover {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #21302f;
  transition: all 0.2s ease-out;
}

#check:checked ~ .search-box .icon {
  background: #0d9e81;
  color: #fff;
  width: 60px;
  border-radius: 0 25px 25px 0;
}
/*Remove default behavior of checkbox*/
#check {
  display: none;
}

.nav-links:hover {
  background-color: #fff;
  color: #21302f;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}
@media screen and (max-width: 960px) {
  .nav-item {
    position: relative;
  }

  .search-btn {
    align-self: center;
  }
  .search-btn:hover {
    background-color: none;
  }

  .nav-menu {
    display: flex;
    /* align-items: center; */
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #21302f;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;

    width: 100%;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #21302f;
    left: 0;
    right: 0;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 2;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
   
  }
}
